


p {
 
 font-family: HelveticaLTStdBold, sans-serif;
    font-size: 13px;
    color: #005688;
    margin: 0;
}

footer {
	content:"Footer";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 3px solid rgb(255, 255, 255);
  background: rgb(217, 140, 90);
  background: -webkit-linear-gradient(270deg, rgb(217, 140, 90) 0%, rgb(237, 179, 142) 100%) #f9f2ee;
  background:    -moz-linear-gradient(270deg, rgb(217, 140, 90) 0%, rgb(237, 179, 142) 100%) #f9f2ee;
  background:      -o-linear-gradient(270deg, rgb(217, 140, 90) 0%, rgb(237, 179, 142) 100%) #f9f2ee;
  background:     -ms-linear-gradient(270deg, rgb(217, 140, 90) 0%, rgb(237, 179, 142) 100%) #f9f2ee;
  background:         linear-gradient(180deg, rgb(217, 140, 90) 0%, rgb(237, 179, 142) 100%) #f9f2ee;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
}
