/***
 Bio Section Styles

***/

#bio>.fullbleed {
    background: black;
    height: auto;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
}

#bio .headline {
    margin-left: 0px;
}

#bio h2.headline,
#bio h3 {
    display: block;
    font-family: 'Goudy-Old-Style';
    font-size: 56px;
    /*usually 72px*/
    letter-spacing: .02em;
    color: #FFF;
    text-shadow: 2px -2px 100px rgba(255, 255, 255, 0.5), 2px -2px 50px rgba(255, 255, 255, 0.5), 1px 1px 1px #000;
}

#bio .row {
    padding-top: 100px;
    padding-bottom: 200px;
}

@media (min-width: 576px) {
    #bio .row {
        padding-bottom: 280px;
    }
}

@media (min-width: 768px) {
    #bio .row {
        padding-top: 210px;
        padding-bottom: 280px;
    }
}

#bio .pic {
    width: 163px;
    height: 207px;
    margin-left: 10px;
}

#bio .cta-button {
    width: 110px;
}

#bio p {
    color: #c1c7c9;
    font-family: Arial, sans-serif;
    display: block;
    font-size: .9em;
    letter-spacing: 1.2px;
    line-height: 13.4pt;
}

#bio .main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bio .ctas {
    display: flex;
    flex-direction: row;
}

#bio .sidebar ul {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    background-image: url("./_img/flag.png");
    background-repeat: none;
    background-repeat: no-repeat;
    font-size: .9em;
    list-style: none;
}

#bio h3 {
    color: #005688;
    margin-left: 20px;
    font-size: 1.4rem;
}

.main ul>li {
    font-family: Arial, Helvetica, sans-serif;
    color: #c1c7c9;
    font-size: .9em;
    letter-spacing: 1.2px;
    line-height: 13.4pt;
}

.sidebar ul>li {
    color: white;
    font-size: .9em;
    letter-spacing: 1.2px;
    line-height: 13.4pt;
}

.sidebar ul>li:nth-child(even) {
    color: #edb38e;
    margin-bottom: 5px;
}