body {
    position: relative;
}

section {
    width: 100%;
}

@media screen and ( min-width: 1200px) {
    .container {
        width: 960px;
    }
}

.fullbleed {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.nav-disabled {
    text-align: center;
}

.nav-subtitle {
    text-align: center;
    font-size: .8em;
}

.nav-link {
    cursor: pointer;
}

.border {
    border: 1px solid white;
}


/***
Home Section assets

***/

.home {
    padding-top: 140px;
}

#home>.fullbleed {
    background-image: url('../../assets/_img/bg_featured_med.jpg');
    min-height: 800px;
}

.subtitle {
    content: "Subtitle";
    display: block;
    font-family: 'Goudy-Old-Style';
    font-size: 1.2rem;
    /*usually 1.2 rem*/
    letter-spacing: .06em;
    color: #FFF;
    text-shadow: 2px -2px 100px rgba(0, 0, 0, 0.3), 2px -2px 50px rgba(0, 0, 0, 0.3), 2px -2px 50px rgba(0, 0, 0, 0.3), 2px -2px 50px rgba(0, 0, 0, 0.3), 1px 1px 1px #900;
}

.headline {
    display: block;
    font-family: 'Goudy-Old-Style';
    font-size: 56px;
    /*usually 72px*/
    margin-left: -17px;
    letter-spacing: .02em;
    color: #FFF;
    text-shadow: 2px -2px 100px #FFF, 2px -2px 50px #FFF, 1px 1px 1px #000;
}

.featured {
    display: block;
    letter-spacing: 1.1pt;
    text-decoration: none;
    font-size: .9em;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    text-shadow: 1px 10px 50px rgba(0, 0, 0, 1), 1px 1px 30px rgba(0, 0, 0, 0.6), 1px 1px 50px rgba(0, 0, 0, 0.6), 1px 1px 30px rgba(0, 0, 0, 0.6), 1px 1px 1px #900;
    color: #e4e4e4;
    color: #FFF;
}

@media (min-width: 768px) {
    .featured {
        text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2), 1px 1px 30px rgba(0, 0, 0, 0.2), 1px 1px 30px rgba(0, 0, 0, 0.2), 1px 1px 30px rgba(0, 0, 0, 0.2), 1px 1px 1px #900;
        color: #e4e4e4;
        color: #FFF;
    }
}

a:not([href]).cta-button,
a[href].cta-button {
    -moz-box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.7), 0px 0px 7px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.7), 0px 0px 7px 1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.7), 0px 0px 7px 1px rgba(0, 0, 0, 0.7);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005688), color-stop(1, #439acc));
    background: -moz-linear-gradient( center top, #005688 5%, #439acc 100%);
    background-color: #005688;
    border: 1px solid #f4a07e;
    display: inline-block;
    color: white;
    font-family: "Goudy-Old-Style";
    font-size: 1em;
    font-weight: bold;
    padding: 6px 22px;
    margin: 17px 10px 0px 0px;
    text-decoration: none;
    cursor: pointer;
}

a:not([href]).cta-button:hover,
a[href].cta-button:hover {
    color: #f4a07e;
}

a,
.featured {
    -webkit-transition: all 1s cubic-bezier(0.25, 1, 0.25, 1);
    -moz-transition: all 1s cubic-bezier(0.25, 1, 0.25, 1);
    -ms-transition: all 1s cubic-bezier(0.25, 1, 0.25, 1);
    -o-transition: all 1s cubic-bezier(0.25, 1, 0.25, 1);
    transition: all 1s cubic-bezier(0.25, 1, 0.25, 1);
}